<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>비밀번호 변경</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   <div class="form-container">
       <h1>SSAT 출제 시스템</h1>
       <h1>비밀번호 변경</h1>


       {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
               <ul class="flashes">
                   {% for category, message in messages %}
                       <li class="{{ category }}">{{ message }}</li>
                   {% endfor %}
               </ul>
           {% endif %}
       {% endwith %}


       <form action="{{ url_for('change_password') }}" method="POST">
           <label>기존 비밀번호: <input type="password" name="old_password" required></label><br>
           <label>새 비밀번호: <input type="password" name="new_password" required></label><br>
           <label>새 비밀번호 확인: <input type="password" name="confirm_password" required></label><br>
           <input type="submit" value="변경">
       </form>
       <form action="{{ url_for('index') }}" method="GET">
           <button type="submit">취소</button>
       </form>
   </div>
</body>
</html>
