<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <title>회원가입</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   <div class="form-container">
       <h1>SSAT 출제 시스템</h1>
       <h1>회원가입</h1>


       {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
               <ul class="flashes">
                   {% for category, message in messages %}
                       <li class="{{ category }}">{{ message }}</li>
                   {% endfor %}
               </ul>
           {% endif %}
       {% endwith %}


       <form action="{{ url_for('register') }}" method="POST">
           <label>사용자 ID: <input type="text" name="user_id" required></label><br>
           <label>비밀번호: <input type="password" name="password" required></label><br>
           <input type="submit" value="회원가입">
       </form>
       <p class="switch-form">이미 계정이 있으신가요? <a href="{{ url_for('login') }}">로그인</a></p>
   </div>
</body>
</html>
